.page {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
  }
  
.page h1{
  color: white;
  font-family: 'Roboto black';
  text-align: center;
  padding-top: 16px;
  font-size: xx-large;
}